*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.AppClima{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: white;
    gap: 40px;
    
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.dia{
    background-image: url(../img/fundo-dia-mobile.jpg);
}

.tarde{
    background-image: url(../img/fundo-tarde-mobile.jpg);
}

.noite{
    background-image: url(../img/fundo-noite-mobile.jpg);
}

.temperatura_destaque{
    font-size: 70px;
}

/*
.Menu{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 90%;
    height: 190%;
}
*/

.Conselho{
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 18%;
    margin: 50px 15px 0px 15px;
    color: white;
    text-align: center;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    padding: 20px;

}

.Informacoes{
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px;
    margin: -10% 10px 15px 4px;
    color: white;
}