*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.AppClima{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    margin: 20px;
    background-color: rgba(69, 69, 245, 0.729);
    border-radius: 4px;
    box-shadow: 2px 2px 2px black;
    color: white;
    gap: 40px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    width: 100%;
    height: 100%;
    
}

.dia{
    background-image: url(../img/fundo-dia-mobile.jpg);
}

.tarde{
    background-image: url(../img/fundo-tarde-mobile.jpg);
}

.noite{
    background-image: url(../img/fundo-noite-mobile.jpg);
}

.temperatura_destaque{
    font-size: 70px;
}

.Menu{
    
}

.Conselho{

}

.Informacoes{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px;
    margin: 15px;
    color: white;
}